/* - Mobile: 23.4375rem
- Desktop: 90rem */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

:root {
  /* ## Colors

    ### Primary */
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);

  /* ### Neutral */

  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);

  /* ## Typography

### Body Copy */

  /* - Font size: .8125rem */

  /* ### Font */
  --font-family-barlow: "Barlow Semi Condensed", sans-serif;
  --weights-barlow-500: 500;
  --weights-barlow-600: 600;
}
html {
  font-size: 100%;
}

body {
  font-family: var(--font-family-barlow);
  background-color: var(--light-grayish-blue);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.card {
  width: 70rem;
  height: auto;
  margin: 0 0 0.3125rem 0;
  font-size: 0.8125rem;
}
.section__left {
  width: 75%;
  height: auto;
  float: left;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}
.section__right {
  width: 25%;
  display: flex;
  float: left;
}
.article {
  padding: 1.5625rem;
  margin: 0.625rem;
  border-radius: 0.625rem;
}
.daniel__img--pattern {
  width: 10%;
  float: right;
  position: absolute;
}
.article__daniel,
.article__patrick {
  width: 65%;
  height: auto;
  background-color: var(--moderate-violet);
}
.article__jonathan,
.article__jeanette {
  width: 30%;
  height: auto;
  background-color: var(--very-dark-grayish-blue);
}

.article__patrick {
  background-color: var(--very-dark-blackish-blue);
}
.article__jeanette {
  color: var(--very-dark-grayish-blue);
  background-color: var(--white);
}
.article__kira {
  width: 95%;
  height: 100%;
  color: var(--very-dark-grayish-blue);
  background-color: var(--white);
}
.article__img {
  width: 2.5rem;
  height: auto;
  border: 0.125rem solid var(--white);
  border-radius: 100%;
}
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.25rem;
}
.title__tagline {
  font-size: 0.8125rem;
  margin: 0 0 0 0.9375rem;
  display: flex;
  flex-direction: column;
}
.tagline {
  font-size: 0.8125rem;
  font-weight: var(--weights-barlow-500);
  opacity: 0.6;
}
.bold {
  font-size: 1.375rem;
  font-weight: var(--weights-barlow-600);
  margin-bottom: 1.25rem;
}
.paragraph {
  font-size: 0.8125rem;
  font-weight: var(--weights-barlow-500);
  opacity: 0.5;
}
@media screen and (max-width: 23.4375rem) {
  .card {
    width: 80%;
    margin: 20px 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* align-items: center; */
  }
  .section__left {
    width: 100%;
    /* float: left; */
    display: flex;
    flex-flow: column;
  }
  .section__right {
    width: 100%;
    /* float: left; */
    display: flex;
    flex-flow: column;
  }
  .article__daniel,
  .article__jeanette,
  .article__jonathan,
  .article__patrick,
  .article__kira {
    width: 100%;
  }
}
.footer {
  color: black;
}
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
